.Administration_Content{
    display: flex;
    justify-content: space-between;
}


.Admin_Detailing{
    box-sizing: border-box;
    padding-top: 70px;
    width: 80%;
    padding-left: 47px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}