.CarouselElement{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CarouselElement:hover{
    cursor: pointer;
}


.CarouselElement_Img_contain{
    border-radius: 5px;
    width:250px ;
    height: 270px;
}

@media(min-width:800px){
    .CarouselElement_Img_contain{
        width: 270px;
        height: 300px;
    }
}
