.CarouselElement{
    display: flex;
    justify-content: center;
}


.CarouselElement_Img_contain{
    width:250px ;
    height: 270px;
}

@media(min-width:800px){
    .CarouselElement_Img_contain{
        width: 270px;
        height: 300px;
    }
}
