.NavItems{
    display: none;
}

.cartNav{
    display: flex;
    margin-left: 67px;
    align-items: center;
}
.cartNav a{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    color: #393535;
    text-decoration: none;
}
.cart_img_contain{
    position: relative;
    margin-left: 3px;
    width: 16px;
    height: 18px;
}
.cart_img_contain img{
    width: 100%;
    height: 100%;
}
.Cart_Number{
    position: absolute;
    top: -10px;
    right: -10px;
    color: #84BE38;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 10px;
    margin: 0;
    background: #003A1A;
    font-weight: bolder;
}


@media(min-width:900px){
    .NavItems{
        display: flex;
    }
}