
.react-multiple-carousel__arrow{
    z-index: 201 !important;
}
.Home_Landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Home_Landing_Carousel{
    margin-top: 70px;
    width:300px;
    height: 209px;
}
.react-multiple-carousel__arrow--right{
    margin-right: -20px;
}
.react-multiple-carousel__arrow--left{
    margin-left: -20px;
    z-index: 1000;
}
.Home_Sec1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.Home_Avila{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 181.5%;
    color: #121111;
    margin-bottom: 0;
}
.Home_WeProvide{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 181.5%;
    color: #121111;
    margin-top: 16px;
}
.About_Header{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 41px;
}
.About_Header p{
    padding-bottom: 5px;
    border-bottom: 1px solid #84BE38;
    width: 100%;
}
.Home_sec2{
    margin-top: 90px;
}
.Home_About_sec{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    color: #121111;
    margin-bottom: 60px;
}
.Home_Pop_Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_span{
    display: inline-block;
    width: 10%;
    background-color: #84BE38;
    height: 2px;
}
.Home_Sec3_Header_Wrapper{
    margin-bottom: 30px;
}

.Home_Covered{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 98%;
    letter-spacing: 0.07em;
    text-transform: lowercase;
    text-align: center;
    color: #003A1A;
    width: 100%;
    margin-top: 5px;
}
.Home_pop_products{
    display: grid;
    justify-items: center;
    grid-template-columns:1fr;
}
.Popular_Products{
    margin-top: 10px;
    width: 212px;
    height: 243px;
}

@media(min-width: 400px){
    .header_span{
        width: 20%;
    }
    .Home_pop_products{
        grid-template-columns:1fr 1fr;
    }
}


@media(min-width:800px){
    .CarouselImage{
        width: 369px;
        height: 363px;
    } 
    .Home_Landing_Carousel{
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 410px;
        height: 363px;
    }
    .Home_Landing{
        max-width: 400px;
        text-align: left;
        align-items: flex-start;
    }
    .Home_Sec1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Home_sec2{
        margin-top: 124px;
    }
    .About_Header p{
        max-width: 682px;
    }
    .About_Header{
        margin-bottom: 54px;
    }
    .Home_About_sec{
        flex-direction: row;
        justify-content: space-around;
    }
    .Home_About_sec p{
        max-width: 361px;
    }
    .header_span{
        width: 30%;
    }
    .Home_pop_products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .Popular_Products{
        margin-top: 10px;
        width: 212px;
        height: 243px;
    }

}