.CartItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    box-shadow: 0px 5px 0px #ccc;
    transition: 200ms;
    padding: 10px 5px;
}
.CartItem:hover{
    box-shadow: 7px 7px 7px  10px #ccc;
}
.CartItem_ImgName{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.CartItem_name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #84BE38;
    margin-left: 10px;
    width: 100px;
}
.CartItem_Counter{
    display: flex;
}
.CartItem_Counter p{
    border: 1px solid #000000;
    padding: 3px 8px;
    height: 15px;
    margin: 0;
}
.CartItem_Counter p>ion-icon{
    color: #000;
}
.CartItem_Counter p:hover, .CartItem_Delete:hover{
    cursor: pointer;
}



.CartItem_Image{
    height: 70px;
    width: 70px;
}
.CartItem_Price{
    display: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #003A1A;
}
.CartItem_Counter_Delete{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.CartItem_Delete>ion-icon{
    font-size: 24px;
}
.CartItem_Price_Mobile{
    display: block !important;
    margin-left: 10px;
}




@media(min-width:900px){
    .CartItem{
        margin: 10px 0;
        flex-direction: row;
    }
    .CartItem_ImgName{
        width: 30%;
    }
    .CartItem_Counter_Delete{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .CartItem_Image{
        height: 200px;
        width: 200px;
    }
    .CartItem_name{
        margin-left: 13px;
    }
    .CartItem_Price{
        display: block;
        text-align: center;
        width: 70px;
    }

    .CartItem_Price_Mobile{
        display: none;
    }
    .CartItem_Counter{
        width: 45px;
    }
    .CartItem_Counter p{
        width: 15px;
    }
    .CartItem_Delete{
        width: 40px;
        text-align: center;
    }
    .CartItem_Delete>ion-icon{
        font-size: 24px;
    }
}