.SingleUser{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 27px;
    color: #393535;
    flex-wrap: wrap;

}
.SingleUser:hover{
    box-shadow: 0px 2px 3px 5px #ccc;
    cursor: pointer;
}

.SingleUser_Checkbox{
    width: 5%;
}
.SingleUser_Name_Email{
    width: 30%;
}
.SingleUser_Details{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SignleUser_Name{
    margin: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    text-transform: capitalize;
}
.SingleUser_Email{
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: -10px;
}
.SingleUser_Gender{
    width: 10%;
    margin: 0;
    text-transform: capitalize;
}
.SingleUser_Phone{
    margin: 0;
    width: 15%;
}
.SingleUser_Address{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 25%;
    margin: 0;
}   
.SingleUser_Edit{
    width: 10%;
}
.SingleUser_Delete{
    width: 10%;
}