.AdminSideNav{
    left: 0;
    bottom: 0;
    background-color: #003A1A;
    width: 17%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
}