.Product_Loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Product_Title_Cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Products_Title{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 98%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #003A1A;
    border-bottom: 2px solid #003A1A;
}
.Products_List{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Product_newPage{
    padding: 3px 5px;
    font-family: 'Poppins';
    border: 1px solid  #003A1A;
    color:  #003A1A;
}
.Product_newPage:hover{
    cursor: pointer;
}
.Products_Pagination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.Prod_Active_Page{
    background-color: #003A1A;
    color: #FFFFFF;
}
.Pagin_Section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Page_Numeration{
    display: flex;
}
.Deactive_Nav{
    color: #ccc;
}
.Deactive_Nav:hover{
    cursor: not-allowed;
}

@media(min-width: 900px){
    .Products_List{
        justify-content: space-between;
    }
}