.SavedItem{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.OneSaved{
    margin: 3px 5px;
}
.SavedItem_Empty{
    width: 150px;
    height: 150px;
}
.SavedItem_Empty_Alt{
    background: #84BE38;
    padding: 3px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}
.EmptyFav{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media(min-width: 900px){
    .SavedItem{
        width: 100%;
        max-height: 80vh;
        overflow-y: scroll;
    }
    .SavedItem_Empty{
        width: 150px;
        height: 150px;
    }
}

