.AdminTopNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color:#FFFFFF;
}
.AdninTopNavLogo{
    width: 93px;
    height: 53px;
}
.AdminTopNav_Right{
    position: relative;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #393535;
}
.AdminTopNav_Right:hover{
    cursor: pointer;
}

.AdminTop_UserProfile{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.AdminTop_UserProfile img{
    border-radius: 50%;
}
.AdminTopNav_dropIcon{
    margin-left: 5px;
    margin-top: 13px;
}
.AdminTopNav_userActions{
    display: none;
    position: absolute;
    top: 45px;
    left: 20px;
    right: 0;
    box-shadow: 2px 4px 4px 3px #ccc;
}
.AdminTioNav_Actions{
    margin: 0;
    background-color: #FFFFFF;
    color: rgba(57, 53, 53, 0.7);
    font-family: 'Poppins';
    font-style: normal;
    border-bottom: 0.5px solid #ccc;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.05em;
    padding: 7px 14px;
}
.AdminTioNav_Actions:hover{
    color: #000000;
}
.AdminTopNav_Right:hover .AdminTopNav_userActions{
    display: block
}
