.AccountNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media(min-width:900px){
    .AccountNav{
        width: 20%;
        flex-direction: column;
        align-items: flex-start;
        padding: 2px 147px;
    }
}