.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 110vh;
}
.contain_img{
  width: 100%;
  height: 100%;
}


.contain{
  padding: 1px 28px;
}
.The_Headers{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #003A1A;
  margin: 0;
}


@media(min-width:900px){
  .contain{
    padding: 1px 118px;
  }
  .App{
    padding-bottom: 100vh;
  }
  .The_Headers{
    font-size: 24px;
  }
}



