.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 15rem;
}


.contain{
  padding: 1px 28px;
}


@media(min-width:900px){
  .contain{
    padding: 1px 118px;
  }
}



